*{
box-sizing:border-box;
font-family:Inter,Arial;
}

body{
margin:0;
height:100vh;
background:radial-gradient(circle,#202024,#09090b);
display:flex;
align-items:center;
justify-content:center;
color:white;
}

.container{
width:500px;
text-align:center;
}

.circle{
height:70px;
width:70px;
margin:auto;
border-radius:50%;
background:linear-gradient(135deg,#fff,#777);
}

h1{
font-size:42px;
}

p{
color:#aaa;
}

input{
background:#18181b;
border:1px solid #333;
border-radius:15px;
padding:15px;
color:white;
width:100%;
}

.nameBox{
margin-top:25px;
}

.actions{
margin-top:25px;
display:flex;
flex-direction:column;
gap:15px;
}

.card{
background:rgba(255,255,255,.07);
border:1px solid rgba(255,255,255,.1);
padding:25px;
border-radius:22px;
color:white;
text-align:left;
cursor:pointer;
}

.card:hover{
background:rgba(255,255,255,.15);
}

.card span{
font-size:30px;
}

.enter{
display:flex;
gap:10px;
}

.enter button{
border:0;
border-radius:15px;
padding:0 25px;
}

.room{
margin-top:20px;
background:#18181b;
padding:20px;
border-radius:20px;
}

.room strong{
font-size:40px;
letter-spacing:5px;
}